.titulo-busqueda {
    font-size: 28px;
    font-family: 'AvenirNextLTPro-Medium';
}

.tipo-busqueda {
    padding: 0px 70px;
}

.busqueda-por {
    display: flex;
}

.busqueda-activa {
    border-bottom: solid #00915c !important;
    color: #333333 !important;
}

.busqueda-por > div {
    border-bottom: solid #C7C7C7;
    padding: 8px 0px;
    width: 114px;
    font-size: 12px;
    cursor: pointer;
    color: #C7C7C7;
}

.busqueda-por > div:nth-child(2), .busqueda-por > div:nth-child(3) {
    margin-left: 15px;
}

.mt-85 {
    margin-top: 85px;
}

.buscador-contenido {
    margin-top: 38px;
}

.pad-extra {
    padding: 0px 70px;
}

.contenedor-cliente {
    border: solid 0.5px #F8F8F8;
    display: flex;
}

.contenedor-cliente > div:nth-child(1) {
    width: 350px;
}
.contenedor-cliente > div:nth-child(2) {
    width: 300px;
}

.pad-extra-cliente {
    padding: 4.5px 70px;
}

.scroll-buscador {
    overflow-y: scroll;
    height: 99px;
}

.icono-resultados {
    width: 19px;
    cursor: pointer;
}
