.contenedor-principal {
    margin: 0 auto;
    width: 90%;
}

.contenedor-componentes {
    margin: 0px 30px;
    /* background-color: #787878; */
    
}

.contenedor-buscador {
    padding: 55px 70px;
    /* padding-top: 160px; */
}

.contenedor-espacio {
    padding-top: 100px;
}

.contenedor-espacio-160 {
    padding-top: 160px;
}

.contenedor-b {
    z-index: 20;
    position: fixed;
    background-color: #fff;
    top: 70px;
    width: 100%;
    box-shadow: 1px 9px 29px -12px rgba(125,125,125,0.75);
    box-shadow: 1px 9px 29px -12px rgb(125 125 125 / 75%);
    margin: 0px -30px;
    padding: 0px 30px;
}