.tabla-basica {
    width: 100%;
    border-spacing: unset;
    padding: 0px 30px;
    background-color: #fff;
}

.tabla-basica > tbody > tr > td {
    border-bottom: solid 1px #A9A9A9;
    padding: 24px 0px;
}
.tabla-basica > thead > tr > th {
    border-bottom: solid 1px #A9A9A9;
    padding: 24px 0px;
}
.tabla-basica > tbody > tr:last-of-type > td {
    border-bottom: unset !important;
}